<footer class="site-footer">
    <div class="container">
        {{#if @site.secondary_navigation}}
            <nav class="footer-nav">
                {{navigation type="secondary"}}
            </nav>
        {{/if}}
        <div class="copyright">
            This is a test and you'd better work now
        </div>
    </div>
</footer>

{{> pswp}}